.conteudo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.conteudo__principal {
    align-items: center;
    justify-content: center;
}

#imagem__principal {
    display: flex;
    position: relative;
}