.conteudo {
    display: flex;
    justify-content: center;
    width: 100vw;
}

.main__conteudo {
    display: flex;
    justify-content: center;
    align-items: center;
}

#video__main {
    width: 100%;
}

#texto__conteudo {
    bottom: 10px;
    align-items: center;
    text-align: justify;
}


.main__carros {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}