.conteudo {
    display: flex;
    justify-content: center;
    min-width: 100%;
    min-height: 100vh;
    flex-direction: column;
}

.main__conteudo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
flex-wrap: wrap;
}

#video__main {
    width: 100vw;
    height: 100%;
}

#video__ford {
    width: 100%;
    height: 30vh;
}

#texto__conteudo {
    align-items: center;
    text-align: justify;
}

#titulo__texto {
    color: rgb(255, 0, 0);
}

.main__carros {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
