* {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

body {
	min-height: 100vh;
	min-width: 100vw;
	font-family: 'Poppins', sans-serif;
}

.cabecalho {
	display: flex;
	flex: 1;
	width: 100vw;
	color: #1351d8;
}

.cabecalho a:active {
	color: #1351d8;
}


.menu {
	display: flex;
	box-shadow: 0px 0px 10px #012980;
	width: 100%;
}

#menu__img {
	width: 15%;
	height: auto;
}

.nav {
	display: flex;
	align-items: center;
	justify-content: center;
	flex: 1;
	min-width: 25vh;
	flex-wrap: nowrap;
	width: 100%;
	font-size: 100% }

.ul {
	display: flex;
	list-style: none;
	justify-content: center;
	width: 100%;
	height: auto;
	flex-wrap: nowrap;
	align-items: center;
	gap: 3%;
}

#menu1 {
	border-top: 2px solid #1351d8;
}

#menu {
	border-top: 2px solid transparent;
	transition: all 0.1s;
}

#menu:hover {
	border-top: 2px solid #1b357e;
	background-color: #ffffff;
	transform: scaleY(1.1);
}

a {
	text-decoration: none;
}

.separar {
	width: 15%;
}

.rodape {
	background: #1b357e;
	color: rgb(255, 255, 255);
	bottom: 0;
	position: fixed;
	width: 100%;
	display: flex;
	align-items: center;
	list-style: none;
	flex-wrap: wrap;
	justify-content: space-between;
}


.redes_sociais {
	display: flex;
	align-items: center;
	list-style: none;
	width: 68%;
	flex: 1;
}

.icone:hover {
	opacity: 0.5;
	transform: scale(0.9);
}

/* .redes_sociais a:hover {
    opacity: 0.5;
    transform: scale(0.9);
} */