
/* Header Responsive */

@media screen and (max-width: 100px) {
    .nav {
        font-size: 20px;
    }
    #menu__img {
        width: 20%;
    }
}

/* Footer Responsive */

@media screen and (max-width: 1000px) and (max-height: 500px) {
    .icone {
        height: 100%;
        width: 100%;
    }
    #imagem__COPYRIGHT {
        height: 75%;
        width: 10%;
    }
    .redes_sociais a {
        font-size: 0%;
    }
}
