@media (max-width: 768px) {
    .carros__celula {
        width: 45%;
    }

    .info__img {
        width: 25px;
        height: 25px;
    }
}

@media (max-width: 480px) {
    .carros__celula {
        width: 100%;
    }

    .info__img {
        width: 20px;
        height: 20px;
    }
}
